/* Section Tuck */
.screen-tuck,
.screen-tuck-tight,
.screen-tuck-minimal {
  padding-left: 5vw;
  padding-right: 5vw;
}

@media (min-width: 768px) {

  .screen-tuck,
  .screen-tuck-tight,
  .screen-tuck-minimal {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1200px) {
  .screen-tuck {
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .screen-tuck-tight {
    padding-left: 30vw;
    padding-right: 30vw;
  }

  .screen-tuck-minimal {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

section,
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.section-accent {
  background-color: rgb(var(--color-accent-main));
  color: rgb(var(--color-bg-main));
}

.section-accent * {
  color: inherit;
}

.section-alt {
  background-color: rgb(var(--color-bg-alt));
}

.section-border {
  border-bottom: 2px solid rgb(var(--color-accent-alt));
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-responsive {
  display: flex;
  flex-direction: column;
}

.flex-responsive-rev {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 1200px) {

  .flex-responsive,
  .flex-responsive-rev {
    flex-direction: row;
  }
}

.flex-item,
.flex-item-1 {
  flex: 1;
}

.flex-item-2 {
  flex: 2;
}


.flex-center {
  align-items: center !important;
  justify-content: center !important;
}

.flex-start {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.flex-natural {
  align-items: unset !important;
  justify-content: unset !important;
}

.flex-gap-small {
  gap: min(4vh, 1rem);
}

.flex-gap {
  gap: min(8vh, 2rem);
}

.flex-gap-large {
  gap: min(12vh, 3rem);
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.grid-nest {
  display: grid;
  justify-items: center;
}

.grid-nest>* {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0.5rem;
  padding: min(3vw, 1rem);
  width: 100%;
}

.card {
  box-shadow: 0 0 4px #ddd;
  border: 1px solid #ddd;
  padding: min(3vw, 1rem);
  cursor: default;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

aside {
  display: flex;
  flex-direction: column;
}