/* Section Tuck */
.screen-tuck,
.screen-tuck-tight,
.screen-tuck-minimal {
  padding-left: 5vw;
  padding-right: 5vw;
}

@media (min-width: 768px) {
  .screen-tuck,
  .screen-tuck-tight,
  .screen-tuck-minimal {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media (min-width: 1200px) {
  .screen-tuck {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .screen-tuck-tight {
    padding-left: 30vw;
    padding-right: 30vw;
  }
  .screen-tuck-minimal {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.section-accent {
  background-color: rgb(var(--color-accent-main));
  color: rgb(var(--color-bg-main));
}

.section-accent * {
  color: inherit;
}

.section-alt {
  background-color: rgb(var(--color-bg-alt));
}

.section-border {
  border-bottom: 2px solid rgb(var(--color-accent-alt));
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-responsive {
  display: flex;
  flex-direction: column;
}
.flex-responsive-rev {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1200px) {
  .flex-responsive, .flex-responsive-rev {
    flex-direction: row;
  }
}

.flex-item, .flex-item-1 {
  flex: 1;
}

.flex-item-2 {
  flex: 2;
}


.flex-center {
  align-items: center !important;
  justify-content: center !important;
}

.flex-start {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.flex-natural {
  align-items: unset !important;
  justify-content: unset !important;
}

.flex-gap-small {
  gap: min(4vh, 1rem);
}

.flex-gap-large {
  gap: min(8vh, 2rem);
}

.flex-gap-large {
  gap: min(12vh, 3rem);
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.grid-nest {
	display: grid;
	justify-items: center;
}

.grid-nest > * {
	display: grid;
	grid-template-rows: subgrid;
	padding: 0 min(3vw, 1rem);
	width: 100%;
}

.grid-nest > * > *:first-child {
	padding-top: min(8vh, 2rem);
}

.grid-nest > * > *:last-child {
	padding-bottom: min(8vh, 2rem);
}

.about-image {
  margin: 0 min(6vw, 2rem);
  height: 100%;
}

.about-image img {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

aside {
  display: flex;
  flex-direction: column;
}