@tailwind base;

:root {
	--main-bg-color: rgb(255, 255, 255);
	--main-accent-color: rgb(0, 0, 0);
	--alt-bg-color: rgb(235, 235, 235);
	--alt-accent-color: rgb(190, 19, 45);
	--alt-accent-color-light: rgb(253, 244, 244);

	--main-font: 'SF Pro Display';
	--alt-font: 'SF Pro Display';
	--mono-font: 'Share-TechMono';
}

.post-event {}

.post-news {}

.post-event,
.post-news {
	align-items: stretch;
	padding: min(8vh, 2rem) 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	gap: min(4vh, 1rem);
}

.post-text {
	display: flex;
	flex-direction: column;
}

#home-event .section-border,
#home-news .section-border,
#event .section-border,
#news .section-border,
#event-pinned .section-border,
#news-pinned .section-border {
	padding-bottom: unset;
}

#home-event .post-text .post-ps,
#home-news .post-text .post-ps,
#event .post-text .post-ps,
#news .post-text .post-ps {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	margin-bottom: min(4vh, 1rem);
}

.post-text .read-more {
	text-align: right;
	font-size: min(3vw, 1rem);
	font-weight: bold;
	margin-top: auto;
}

.post-ps p {
	text-align: justify;
}

.post-image img {
	aspect-ratio: 21 / 9;
	-o-object-fit: cover;
	object-fit: cover;
}

.post-data {
	justify-content: flex-start;
}

@media screen and (min-width: 1200px) {
	.post-image img {
		aspect-ratio: 21 / 9;
		height: 100%;
	}
}

@media screen and (max-width: 1200px) {}


#logo-dump {
	flex-wrap: wrap;
}

#logo-dump div {
	height: 10vh;
	padding: min(4vh, 1rem);
}

#logo-dump img {
	height: 100%;
	width: auto;
	-o-object-fit: contain;
	object-fit: contain;
}

#services .section-container {
	gap: min(4vh, 1rem);
}

@media screen and (min-width: 1200px) {
	#services .service-block .service-block-head {
		display: flex;
		min-height: min(24vh, 6rem);
	}

	#services .service-block h2 {
		display: inline-block;
		align-self: flex-end;
	}
}

#services .service-block {
	padding: min(8vh, 2rem) min(6vw, 2rem);
	box-shadow: 0 0 8px #ddd;
	-webkit-filter: drop-shadow(4px 4px 4px #ddd);
	filter: drop-shadow(4px 4px 4px #ddd);
}

#services .service-block h2 {
	border-bottom: min(0.5vh, 0.125rem) solid var(--alt-accent-color);
	padding-bottom: min(1vw, 0.33rem);
}

#services .service-block span {
	display: flex;
	flex-direction: row;
}

.ri-check-line {
	margin-right: min(2vw, 0.5rem);
}

#partners .partners-partner img {
	height: 100%;
	aspect-ratio: 4 / 1;
	-o-object-fit: contain;
	object-fit: contain;
}

.box--light {
	background-color: rgba(190, 19, 45, 0.85);
	border-radius: min(2vh, 0.5rem);
	padding: min(12vh, 3rem) min(12vw, 4rem);
}

#_news .swiper-slide img {
	aspect-ratio: 16 / 9;
}

#_news #alt-imgs {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 1200px) {
	#_news {
		padding-left: 25vw;
		padding-right: 25vw;
	}

	#_news #alt-imgs {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.about-image {
	margin: 0 min(6vw, 2rem);
    height: 100%;
}

.about-image img {
    height: 100%;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

#partners .partners-partner .partner-logo {
	min-height: min(36vh, 9rem);
}

#partners .partners-partner .partner-text {
	min-height: min(36vh, 9rem);
}

#about .team-member {
	min-height: min(36vh, 9rem);
}